<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <h2>Ejercicio 1</h2>
        <li v-for="(numero,index) in numeros" :key="numero">
            {{ numero }}
            <button v-on:click="eliminarNumero(index)" >Eliminar</button>
        </li>
        Numero <input v-model="numero" >
        <button v-on:click="agregarNumero" >Agregar</button>
    </div>
    <script>
        const { createApp } = Vue
        const obj = createApp({
            data() {
                return {
                    numeros: [4,6,3,2,-3,2],
                    numero: 0
                }
            },
            methods: {
                agregarNumero() {
                    this.numeros.push(this.numero)
                    this.numero = 0
                },
                eliminarNumero(numero) {
                    console.log(numero);
                }
            }
        }).mount('#app')
    </script>
</body>
</html>